<div class="page-header">
    <h1>El Noticiero</h1>
    <p ng-if="noticias.length">Hoy le ofrecemos {{meta.totalDeNoticias}} noticias. Está en la página {{pagina}}.</p>
</div>

<div ng-if="noticias.length">
    <div class="btn-group btn-group-sm btn-group-lg">
        <button ng-click="retroceder()" class="btn btn-primary" ng-disabled="pagina == 1">&lt;</button>
        <button class="btn btn-info">{{pagina}} / {{meta.numeroDePaginas}}</button>
        <button ng-click="avanzar()" class="btn btn-primary" ng-disabled="pagina == meta.numeroDePaginas">&gt;</button>
    </div>
    <ul class="list-group">
        <li ng-repeat="n in noticias" class="list-group-item">
            <h4 class="list-group-item-heading">#{{n.id}} - {{n.titulo}}</h4>
            <p class="list-group-item-text">
                <span class="btn-group btn-group-sm">
                    <a ng-href="#/detalle/{{n.id}}" class="btn btn-primary">Detalle</a>
                    <a ng-href="#/formulario/{{n.id}}" class="btn btn-info">Editar</a>
                </span>
            </p>
        </li>
    </ul>
</div>
