<div class="page-header">
    <h1>El Noticiero</h1>
    <h3 ng-if="noticias.length">Hoy le ofrecemos {{meta.totalDeNoticias}} noticias. </h3>
    <h4>Agregue <a ng-href="#/formulario">la suya</a></h4>
</div>

<div ng-if="noticias.length">
    <nav class="text-center">
        <ul class="pagination">
            <li ng-class="{'disabled': pagina == 1}">
                <a aria-label="Next" ng-click="retroceder()"><span aria-hidden="true">&laquo;</span></a>
            </li>

            <li class="active">
                <a>{{pagina}} / {{meta.numeroDePaginas}} <span class="sr-only"></span></a>
            </li>

            <li ng-class="{disabled: pagina == meta.numeroDePaginas}">
                <a aria-label="Next" ng-click="avanzar()"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>

    <ul class="list-group">
        <li class="media" ng-repeat="n in noticias" >
            <div class="media-left media-middle">
                <a ng-href="#/detalle/{{n.id}}">
                    <img class="media-object" src="{{n.url_imagen}}" alt="{{n.titulo}}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">#{{n.id}} - {{n.titulo}}</h4>
                <p>{{n.titulo}}</p>
                <p class="text-right">
                    <span class="btn-group btn-group-sm">
                        <a ng-href="#/detalle/{{n.id}}" class="btn btn-primary">Detalle</a>
                        <a ng-href="#/formulario/{{n.id}}" class="btn btn-info">Editar</a>
                    </span>
                </p>
            </div>
        </li>
    </ul>
</div>
